<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fernanda Fajardo T02</title>

    <link href="~/Template/css/style.css" rel="stylesheet" />

    <link href="~/Template/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Template/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Template/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/Template/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Template/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Template/image/favicon.png" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

</head>
<body>

    <div class="container-scroller">

        <div class="container-fluid page-body-wrapper">

            <div class="main-panel-body">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-danger text-white me-2">
                                <i class="mdi mdi-shopping"></i>
                            </span> Control de Abonos
                        </h3>
                    </div>
                    @RenderBody()
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright ©2026 Progamación Avanzada | Todos los derechos reservados.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Grupo 01: Aaron Azofeifa | Laura Brenes | Fernanda Fajardo | Jean Paul Segura | Ericka Torres 
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/Template/js/chart.umd.js"></script>
    <script src="~/Template/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Template/js/off-canvas.js"></script>
    <script src="~/Template/js/misc.js"></script>
    <script src="~/Template/js/settings.js"></script>
    <script src="~/Template/js/todolist.js"></script>
    <script src="~/Template/js/jquery.cookie.js"></script>
</body>
</html>